{{!-- This is the post loop - each post will be output using this markup --}}

<div class="container-fluid">
  <div class="indent">
  <div class="row">
    {{#foreach posts}}

      <div class="card col-sm-12 {{#if @first}}col-md12 col-lg-12 col-xl-12 {{else}} col-md-6 {{#if featured}}col-lg-8 col-xl-6{{else}}col-lg-4 col-xl-3{{/if}}{{/if}}">
        <article class="{{post_class}}" style="background-size:cover; background-image: url({{#if image}}{{image}}{{else}}//res.cloudinary.com/dxzowrlfs/image/upload/v1480335534/no-post_kibnas.png{{/if}})">
          <header class="post-header">
            <h4 class="highlight"><a class="title-link" href="{{url}}">{{title}}</a></h4>
          </header>

          <footer class="highlight post-meta">
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
              {{author}}
              {{tags prefix=" on "}}
              <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
          </footer>
          </article>
      </div>

  {{/foreach}}
  </div>
  </div>
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
